<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.bookstore.mapper.AdminMapper">

    <!-- 공지사항 -->
    <select id="noticeList" resultType="org.fullstack4.bookstore.domain.NoticeVO2">
        SELECT idx, title, member_id, content, reg_date, org_file_name, save_file_name, fix_state
        FROM tbl_bbs_notice2
        ORDER BY idx DESC
    </select>

    <select id="noticeView" resultType="org.fullstack4.bookstore.domain.NoticeVO2">
        SELECT idx, title, member_id, content, reg_date, org_file_name, save_file_name, fix_state
        FROM tbl_bbs_notice2
        WHERE idx = #{idx}
    </select>

    <!-- FAQ -->
    <select id="faqList" resultType="org.fullstack4.bookstore.domain.FaqVO2">
        SELECT idx, title, content, writer, reg_date, modify_date
        FROM tbl_bbs_faq2
        ORDER BY idx DESC
    </select>

    <select id="faqView" resultType="org.fullstack4.bookstore.domain.FaqVO2">
        SELECT idx, title, content, writer, reg_date, modify_date
        FROM tbl_bbs_faq2
        WHERE idx = #{idx}
    </select>

    <!-- QnA -->
    <select id="qnaList" resultType="org.fullstack4.bookstore.domain.QnaVO2">
        SELECT idx, title, content, writer, read_cnt, reg_date, modify_date, reply_state
        FROM tbl_bbs_qna2
        ORDER BY idx DESC
    </select>

    <select id="qnaView" resultType="org.fullstack4.bookstore.domain.QnaVO2">
        SELECT idx, title, content, writer, read_cnt, reg_date, modify_date, reply_state
        FROM tbl_bbs_qna2
        WHERE idx = #{idx}
    </select>
</mapper>