<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.bookstore.mapper.AdminMapper">
<!--    <select id="noticeTotalCount" resultType="int">-->
<!--        SELECT COUNT(*) FROM tbl_bbs_notice2-->
<!--    </select>-->

<!--    <select id="faqTotalCount" resultType="int">-->
<!--        SELECT COUNT(*) FROM tbl_bbs_faq2-->
<!--    </select>-->

    <!-- 공지사항 -->
    <select id="noticeList" resultType="org.fullstack4.bookstore.domain.NoticeVO">
        SELECT idx, title, writer, content, reg_date, org_file_name, save_file_name, fix_state
        FROM tbl_bbs_notice
        ORDER BY idx DESC
    </select>

    <select id="noticeView" resultType="org.fullstack4.bookstore.domain.NoticeVO">
        SELECT idx, title, writer, content, reg_date, org_file_name, save_file_name, fix_state
        FROM tbl_bbs_notice
        WHERE idx = #{idx}
    </select>

<!--    <select id="prevNotice" resultType="org.fullstack4.bookstore.domain.NoticeVO2">-->
<!--        SELECT idx, title, save_file_name-->
<!--        FROM tbl_bbs_notice2-->
<!--        WHERE idx < #{idx}-->
<!--        ORDER BY idx DESC-->
<!--        LIMIT 1-->
<!--    </select>-->

    <!-- FAQ -->
    <select id="faqList" resultType="org.fullstack4.bookstore.domain.FaqVO">
        SELECT idx, title, content, writer, reg_date, modify_date
        FROM tbl_bbs_faq
        ORDER BY idx DESC
    </select>

    <select id="faqView" resultType="org.fullstack4.bookstore.domain.FaqVO">
        SELECT idx, title, content, writer, reg_date, modify_date
        FROM tbl_bbs_faq
        WHERE idx = #{idx}
    </select>

    <!-- QnA -->
    <select id="qnaList" resultType="org.fullstack4.bookstore.domain.QnaVO">
        SELECT idx, title, content, writer, read_cnt, reg_date, modify_date, reply_state
        FROM tbl_bbs_qna
        ORDER BY idx DESC
    </select>

    <select id="qnaView" resultType="org.fullstack4.bookstore.domain.QnaVO">
        SELECT idx, title, content, writer, read_cnt, reg_date, modify_date, reply_state
        FROM tbl_bbs_qna
        WHERE idx = #{idx}
    </select>
</mapper>