<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.bookstore.mapper.CommunityMapper">
    <sql id="whereCondition">
        <trim prefix="where" prefixOverrides="AND">
            <if test="search_type != null">
                <if test="search_type == 'title'">
                    AND title LIKE concat('%', #{search_word}, '%')
                </if>
                <if test="search_type == 'writer'">
                    AND writer LIKE concat('%', #{search_word}, '%')
                </if>
            </if>
            <if test="search_date != null">
                <choose>
                    <when test="search_date == 'day'">
                        AND reg_date <![CDATA[>=]]> ADDDATE(NOW(), INTERVAL -1 day)
                    </when>
                    <when test="search_date == 'week'">
                        AND reg_date <![CDATA[>=]]> ADDDATE(NOW(), INTERVAL -1 week)
                    </when>
                    <when test="search_date == 'month'">
                        AND reg_date <![CDATA[>=]]> ADDDATE(NOW(), INTERVAL -1 month)
                    </when>
                </choose>
            </if>
        </trim>
    </sql>

    <!-- 공지사항 -->
    <select id="noticeList" resultType="org.fullstack4.bookstore.domain.NoticeVO">
        SELECT idx, title, writer, content, reg_date, org_file_name, save_file_name, fix_state
        FROM tbl_bbs_notice
        <include refid="whereCondition"></include>
        ORDER BY idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="noticeTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_bbs_notice
        <include refid="whereCondition"></include>
    </select>

    <select id="noticeView" resultType="org.fullstack4.bookstore.domain.NoticeVO">
        SELECT idx, title, writer, content, reg_date, org_file_name, save_file_name, fix_state
        FROM tbl_bbs_notice
        WHERE idx = #{idx}
    </select>

    <select id="noticePrev" resultType="org.fullstack4.bookstore.domain.NoticeVO">
        SELECT idx, title
        FROM tbl_bbs_notice
        WHERE idx <![CDATA[<]]> #{idx}
        ORDER BY idx DESC
        LIMIT 1
    </select>

    <select id="noticeNext" resultType="org.fullstack4.bookstore.domain.NoticeVO">
        SELECT idx, title
        FROM tbl_bbs_notice
        WHERE idx <![CDATA[>]]> #{idx}
        ORDER BY idx
        LIMIT 1
    </select>

    <!-- FAQ -->
    <select id="faqList" resultType="org.fullstack4.bookstore.domain.FaqVO">
        SELECT idx, title, content, writer, reg_date, modify_date
        FROM tbl_bbs_faq
        <include refid="whereCondition"></include>
        ORDER BY idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="faqTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_bbs_faq
        <include refid="whereCondition"></include>
    </select>

    <select id="faqView" resultType="org.fullstack4.bookstore.domain.FaqVO">
        SELECT idx, title, content, writer, reg_date, modify_date
        FROM tbl_bbs_faq
        WHERE idx = #{idx}
    </select>

    <select id="faqPrev" resultType="org.fullstack4.bookstore.domain.FaqVO">
        SELECT idx, title
        FROM tbl_bbs_faq
        WHERE idx <![CDATA[<]]> #{idx}
        ORDER BY idx DESC
        LIMIT 1
    </select>

    <select id="faqNext" resultType="org.fullstack4.bookstore.domain.FaqVO">
        SELECT idx, title
        FROM tbl_bbs_faq
        WHERE idx <![CDATA[>]]> #{idx}
        ORDER BY idx
        LIMIT 1
    </select>

    <!-- QnA -->
    <select id="qnaList" resultType="org.fullstack4.bookstore.domain.QnaVO">
        SELECT idx, title, content, writer, read_cnt, reg_date, modify_date, reply_state
        FROM tbl_bbs_qna
        <include refid="whereCondition"></include>
        ORDER BY idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="qnaTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_bbs_qna
        <include refid="whereCondition"></include>
    </select>

    <select id="qnaView" resultType="org.fullstack4.bookstore.domain.QnaVO">
        SELECT idx, title, content, writer, read_cnt, reg_date, modify_date, reply_state
        FROM tbl_bbs_qna
        WHERE idx = #{idx}
    </select>

    <select id="qnaPrev" resultType="org.fullstack4.bookstore.domain.QnaVO">
        SELECT idx, title
        FROM tbl_bbs_qna
        WHERE idx <![CDATA[<]]> #{idx}
        ORDER BY idx DESC
        LIMIT 1
    </select>

    <select id="qnaNext" resultType="org.fullstack4.bookstore.domain.QnaVO">
        SELECT idx, title
        FROM tbl_bbs_qna
        WHERE idx <![CDATA[>]]> #{idx}
        ORDER BY idx
        LIMIT 1
    </select>

    <insert id="qnaRegist">
        INSERT INTO tbl_bbs_qna(title, content, writer)
        VALUES (#{title}, #{content}, #{writer})
    </insert>

    <update id="qnaModify">
        UPDATE tbl_bbs_qna SET
        title = #{title},
        content = #{content},
        modify_date = NOW()
        WHERE idx = #{idx}
    </update>

    <delete id="qnaDelete">
        DELETE FROM tbl_bbs_qna
        WHERE idx = #{idx}
    </delete>

    <update id="qnaUpdateReadCnt">
        UPDATE tbl_bbs_qna SET
        read_cnt = read_cnt + 1
        WHERE idx= #{idx}
    </update>
</mapper>