<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.bookstore.mapper.DataMapper">
    <sql id="whereCondition">
        <trim prefix="where" prefixOverrides="AND">
            <if test="search_type != null">
                <if test="search_type == 'title'">
                    AND title LIKE concat('%', #{search_word}, '%')
                </if>
                <if test="search_type == 'writer'">
                    AND writer LIKE concat('%', #{search_word}, '%')
                </if>
            </if>
            <if test="search_date != null">
                <if test="search_date == 'day'">
                    AND reg_date <![CDATA[>=]]> ADDDATE(NOW(), INTERVAL -1 day)
                </if>
                <if test="search_date == 'week'">
                    AND reg_date <![CDATA[>=]]> ADDDATE(NOW(), INTERVAL -1 week)
                </if>
                <if test="search_date == 'month'">
                    AND reg_date <![CDATA[>=]]> ADDDATE(NOW(), INTERVAL -1 month)
                </if>
            </if>
        </trim>
    </sql>

    <select id="dataTotalCount" resultType="int">
        SELECT COUNT(*) FROM tbl_bbs_data
        <include refid="whereCondition"></include>
    </select>

    <select id="dataListByPage" resultType="org.fullstack4.bookstore.domain.DataVO">
        SELECT data_idx, title, content, writer, org_file_name, save_file_name, reg_date, modify_date
        FROM tbl_bbs_data
        <include refid="whereCondition"></include>
        ORDER BY data_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <insert id="dataRegist">
        INSERT INTO tbl_bbs_data(title, content, writer, org_file_name, save_file_name)
        VALUES (#{title}, #{content}, #{writer}, #{org_file_name}, #{save_file_name})
    </insert>

    <select id="dataList" resultType="org.fullstack4.bookstore.domain.DataVO">
        SELECT data_idx, title, content, writer, org_file_name, save_file_name, reg_date, modify_date
        FROM tbl_bbs_data
        ORDER BY data_idx DESC
    </select>

    <select id="dataView" resultType="org.fullstack4.bookstore.domain.DataVO">
        SELECT data_idx, title, content, writer, org_file_name, save_file_name, reg_date, modify_date
        FROM tbl_bbs_data
        WHERE data_idx = #{data_idx}
    </select>

    <update id="dataModify">
        UPDATE tbl_bbs_data SET
        title = #{title},
        content = #{content},
        writer = #{writer},
        org_file_name = #{org_file_name},
        save_file_name = #{save_file_name},
        modify_date = NOW()
        WHERE data_idx = #{data_idx}
    </update>

    <delete id="dataDelete">
        DELETE FROM tbl_bbs_data
        WHERE data_idx = #{data_idx}
    </delete>
</mapper>