<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fullstack4.bookstore.mapper.LoginMapper">
<!--    로그인-->
    <select id="login_info" resultType="org.fullstack4.bookstore.domain.MemberVO">
            SELECT member_idx, member_id, pwd, name, addr1, addr2, zipcode, phone_num, email, point, mileage, reg_date
            FROM tbl_member
            WHERE member_id = #{member_id}
    </select>
<!--아이디 찾기-->
    <select id="search_id" resultType="String">
        SELECT member_id
        FROM tbl_member
        WHERE name = #{name} and email = #{email}
    </select>
<!--    비밀번호 찾기-->
    <select id="search_pwd">
        SELECT count(*)
        FROM tbl_member
        WHERE name = #{name} and email = #{email} and member_id = #{member_id}
    </select>
<!--    비밀번호 재 설정-->
    <update id="change_pwd">
        UPDATE tbl_member SET pwd = #{pwd} where member_id = #{member_id}
    </update>
</mapper>