<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fullstack4.bookstore.mapper.MyMapper">
<!-- 장바구니 리스트 확인-->
    <select id="cart_list" resultType="org.fullstack4.bookstore.domain.CartListVO">
        SELECT tc.cart_idx as cart_idx, tc.or_member_id as or_member_id, tc.product_cnt as product_cnt, tc.add_date as add_date, tc.product_idx as product_idx,
               tp.product_name as product_name, tp.publisher as publisher, tp.author as author,
               tp.price as price, tp.discount as discount
        FROM tbl_cart AS tc
        INNER JOIN tbl_product AS tp ON tc.product_idx = tp.product_idx
        WHERE or_member_id = #{member_id}
    </select>

<!--    <select id="cart_selcList" resultType="org.fullstack4.bookstore.domain.CartListVO">-->
<!--        SELECT tc.cart_idx as cart_idx, tc.or_member_id as or_member_id, tc.product_cnt as product_cnt, tc.add_date as add_date, tc.product_idx as product_idx,-->
<!--               tp.product_name as product_name, tp.publisher as publisher, tp.author as author,-->
<!--               tp.price as price, tp.discount as discount-->
<!--        FROM tbl_cart AS tc-->
<!--                 INNER JOIN tbl_product AS tp ON tc.product_idx = tp.product_idx-->
<!--        WHERE or_member_id = #{member_id} and cart_idx = #{cart_idx}-->
<!--    </select>-->

    <insert id="cart_add">
        INSERT INTO tbl_cart(or_member_id, product_idx, product_cnt)
        VALUES (#{or_member_id}, #{product_idx}, #{product_cnt})
    </insert>

    <select id="find_idx" resultType="int">
        SELECT COUNT(*)
        FROM tbl_cart
        WHERE product_idx = #{product_idx} AND or_member_id = #{or_member_id}
    </select>

    <update id="cart_cnt_update">
        UPDATE tbl_cart SET
        product_cnt = product_cnt + #{product_cnt}
        WHERE product_idx = #{product_idx} AND or_member_id = #{or_member_id}
    </update>

    <update id="update_cnt">
        update tbl_cart set
        product_cnt = #{product_count}
        where cart_idx = #{cart_idx} and or_member_id = #{or_member_id}
    </update>

<!--    <update id="update_plus_cnt">-->
<!--        update tbl_cart set product_cnt =product_cnt+1 where cart_idx = #{cart_idx}-->
<!--    </update>-->
<!--    <delete id="deleteCart" parameterType="java.util.Arrays">-->
<!--        DELETE FROM tbl_cart-->
<!--        where cart_idx IN (#{idxList})-->
<!--    </delete>-->
<!--    MY QNA 리스트 출력-->


    <delete id="deleteCart">
        DELETE FROM tbl_cart
        where cart_idx = #{cart_idx}
    </delete>

    <select id="qna_list_all" resultType="org.fullstack4.bookstore.domain.QnaVO">
        SELECT idx, title, content, writer, read_cnt,reg_date, modify_date,reply_state
        FROM tbl_bbs_qna
        where writer = #{member_id}
        ORDER BY idx DESC
    </select>

    <insert id="order_item_insert">
        INSERT INTO tbl_order_item (order_code, member_id, product_idx, product_name, product_cnt, price, discount, discount_price, order_price)
        VALUES (#{order_code}, #{member_id}, #{product_idx}, #{product_name}, #{product_cnt}, #{price}, #{discount}, #{discount_price}, #{order_price})
    </insert>

    <insert id="order_insert">
        INSERT INTO tbl_order (pay_method, delivery_company, pay_price, member_id, name, phone_num, email, receiver_name, receiver_phone_num, zipcode, receiver_addr, order_code)
        VALUES (#{pay_method}, #{delivery_company}, #{pay_price}, #{member_id}, #{name}, #{phone_num}, #{email}, #{receiver_name}, #{receiver_phone_num}, #{zipcode}, #{receiver_addr},  #{order_code})
    </insert>

    <select id="order_list">
        SELECT
            od.order_idx, od.pay_method, od.delivery_company, od.pay_price, od.pay_date, od.pay_cancel_date, od.member_id, od.name, od.phone_num, od.email, od.receiver_name, od.receiver_phone_num, od.zipcode, od.receiver_addr, od.order_code, od.delivery_state,
            oi.order_item_idx, oi.product_name, oi.product_cnt, oi.price, oi.discount, oi.discount_price, oi.order_price
        FROM tbl_order AS od INNER JOIN tbl_order_item AS oi ON oi.order_code = od.order_code
        WHERE od.delivery_state = #{delivery_state}
        <if test="member_id != null and !member_id.equals('admin')">
            AND od.member_id = #{member_id}
        </if>
        GROUP BY od.order_code
        ORDER BY order_idx DESC
    </select>

    <select id="order_detail">
        SELECT
            od.order_idx, od.pay_method, od.delivery_company, od.pay_price, od.pay_date, od.pay_cancel_date, od.member_id, od.name, od.phone_num, od.email, od.receiver_name, od.receiver_phone_num, od.zipcode, od.receiver_addr, od.order_code, od.delivery_state,
            oi.order_item_idx, oi.product_name, oi.product_cnt, oi.price, oi.discount, oi.discount_price, oi.order_price
        FROM tbl_order AS od INNER JOIN tbl_order_item AS oi ON oi.order_code = od.order_code
        WHERE od.order_code = #{order_code}
    </select>

    <update id="orderCancelRequest">
        UPDATE tbl_order SET
        <if test="delivery_state.equals('배송전')">
            delivery_state = '취소완료'
        </if>
        <if test="delivery_state.equals('주문취소요청')">
            delivery_state = '배송중'
        </if>
        <if test="delivery_state.equals('배송중')">
            delivery_state = '주문취소요청'
        </if>
        WHERE member_id = #{member_id} AND order_code = #{order_code}
    </update>

</mapper>