<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fullstack4.bookstore.mapper.MyMapper">
<!-- 장바구니 리스트 확인-->
    <select id="cart_list" resultType="org.fullstack4.bookstore.domain.CartListVO">
        SELECT tc.cart_idx as cart_idx, tc.or_member_id as or_member_id, tc.product_cnt as product_cnt, tc.add_date as add_date, tc.product_idx as product_idx,
               tp.product_name as product_name, tp.publisher as publisher, tp.author as author,
               tp.price as price, tp.discount as discount
        FROM tbl_cart AS tc
        INNER JOIN tbl_product AS tp ON tc.product_idx = tp.product_idx
        WHERE or_member_id = #{member_id}
    </select>

    <insert id="cart_add">
        INSERT INTO tbl_cart(or_member_id, product_idx, product_cnt)
        VALUES (#{or_member_id}, #{product_idx}, #{product_cnt})
    </insert>

    <select id="find_idx" resultType="int">
        SELECT COUNT(*)
        FROM tbl_cart
        WHERE product_idx = #{product_idx} AND or_member_id = #{or_member_id}
    </select>

    <update id="cart_cnt_update">
        UPDATE tbl_cart SET
        product_cnt = product_cnt + #{product_cnt}
        WHERE product_idx = #{product_idx} AND or_member_id = #{or_member_id}
    </update>

    <update id="update_cnt">
        update tbl_cart set
        product_cnt = #{product_count}
        where cart_idx = #{cart_idx} and or_member_id = #{or_member_id}
    </update>

<!--    <update id="update_plus_cnt">-->
<!--        update tbl_cart set product_cnt =product_cnt+1 where cart_idx = #{cart_idx}-->
<!--    </update>-->
<!--    <delete id="deleteCart" parameterType="java.util.Arrays">-->
<!--        DELETE FROM tbl_cart-->
<!--        where cart_idx IN (#{idxList})-->
<!--    </delete>-->
<!--    MY QNA 리스트 출력-->


    <delete id="deleteCart">
        DELETE FROM tbl_cart
        where cart_idx = #{cart_idx}
    </delete>

    <insert id="paymentInsert">
        INSERT INTO tbl_payment (pay_method, pay_price, member_id, name, phone_num, email, receiver_name, receiver_phone_num, receiver_addr, cart_idx, product_idx, product_name, product_cnt)
        VALUES (#{pay_method}, #{pay_price}, #{member_id}, #{name}, #{phone_num}, #{email}, #{receiver_name}, #{receiver_phone_num}, #{receiver_addr}, #{cart_idx}, #{product_idx}, #{product_name}, #{product_cnt})
    </insert>

    <select id="paymentSelect" resultType="org.fullstack4.bookstore.domain.PaymentVO">
        SELECT pay_idx, pay_method, pay_price, pay_date, pay_cancel_date, member_id, name, phone_num, email, receiver_name, receiver_phone_num, receiver_addr, cart_idx, product_idx, product_name, product_cnt
        FROM tbl_payment
        WHERE cart_idx = #{cart_idx}
    </select>

    <insert id="deliveryInsert">
        INSERT INTO tbl_delivery (tracking_num, receiver_name, receiver_phone_num, zipcode, receiver_addr, member_id, pay_idx)
        VALUES (#{tracking_num}, #{receiver_name}, #{receiver_phone_num}, #{zipcode}, #{receiver_addr}, #{member_id}, #{pay_idx})
    </insert>

    <select id="qna_list_all" resultType="org.fullstack4.bookstore.domain.QnaVO">
        SELECT idx, title, content, writer, read_cnt,reg_date, modify_date,reply_state
        FROM tbl_bbs_qna
        where writer = #{member_id}
        ORDER BY idx DESC
    </select>

    <select id="recent_order" resultType="org.fullstack4.bookstore.domain.DeliveryVO">
        SELECT tp.pay_idx as pay_idx ,left(tp.pay_date, 10 ) as pay_date, tp.member_id as member_id, tp.product_cnt, td.delivery_state, tdtracking_num
        FROM tbl_payment as tp
        inner join tbl_delivery as td on tp.pay_idx = td.pay_idx
        where  tp.member_id = #{member_id}
        ORDER BY pay_date DESC
    </select>

</mapper>